* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-purple: #7F1DDB;
  --medium-purple: #411DDB;
  --main-font-color: #041833;
  --font-color-post: #444444;
  --white: #FFF;
  --main-source: 'Raleway', sans-serif;
  --secondary-source: 'Playfair Display', sans-serif;

  font-family: var(--main-source);
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
}

a, button, input, textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 5rem;
}